* {
    box-sizing: border-box;
}

.wrapper {
    display: inline-block;
    position: relative;
    padding: 8px;
}

.content {
    position: absolute;
    top: 100%;
    left: 0;
}

.calendarPanel {
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.calendarPanelItem {
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    cursor: pointer;
}

.calendarPanelItem--today {
    color: red;
}

.calendarPanelItem--date {
    border-radius: 50%;
    padding: 4px;
}

.calendarPanelItem--selected .calendarPanelItem--date {
    width: 33%;
    text-align: center;
    background-color: red;
    color: white;
}

.calendarPanelItem--not-current .calendarPanelItem--date,
.calendarPanelItem--not-in-range .calendarPanelItem--date {
    opacity: .4;
}

.calendarPanelItem--not-in-range {
    cursor: not-allowed;
}

.calendarButtons {
    display: flex;
    margin: 12px 0;
    gap: 2%;
}